/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */


a.nav:link, a.nav:visited {
	font-size: 13px;
	font-family: Arial, helvetica;
	font-weight: bold;
	color: #CCC;
	text-decoration: none;
	padding-right: 12px;
}

a.nav:hover {
	color: white;
}

.navbar {
	height: 24px;
	background-color: black;
	padding: 4px;
}

.navul {
	list-style-type: none;
	margin:0;
	padding-top:6px;
	padding-bottom:6px;
	padding-left: 10px;
	color: #F0EBED;
}

li {
	display: inline;
	
}

.Middle {
	width:100%;
}

.GoogleMain {
	position: relative;
	top: 20%;
	margin: 0 auto;
	top: 150px;
	width: 275px;
	height: 95px;
	
}

.form {
	position: relative;
	border: 1px solid #EDEDED;
	height: 25px;
	width: 553px;
	margin: 0 auto;
	top: 160px;
}

form.form:hover{
	border: 1px solid #D9D7D7;
}

.inputbar {
	background-color: transparent;
	border: transparent;
	font-family: arial, sans-serif;
	font-size: 18px;
	padding: 2px;
}

.footer {
	height: 31px;
	border-top: 1px solid #ebebeb;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.footerul {
	list-style-type: none;
	margin: 0;
	padding: 3px 5px;
	float: right;
}

a.foot:link, a.foot:visited {
	padding: 0 5px;
	color: #666;
	font-family: Arial;
	font-size: 10pt;
	text-decoration: none;
}

a.foot:hover {
	text-decoration: underline;
}
